* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* background-color: #fff0f6;
   */
  /* background-image: url('https://i.pinimg.com/564x/12/3a/34/123a3468cb9c6f39fb7ba1b12d113216.jpg'); */
  /* background: #ffffff url(https://i.pinimg.com/564x/12/3a/34/123a3468cb9c6f39fb7ba1b12d113216.jpg) center center/cover no-repeat; */
  background-color: #666666;
  background: rgba(0,0,0,0.5) url('https://i.pinimg.com/564x/12/3a/34/123a3468cb9c6f39fb7ba1b12d113216.jpg');
  background-blend-mode: darken;
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Protest Riot", sans-serif;
  font-family: "Gluten", cursive;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cat-img {
  width: 30rem;
  height: 30rem;
  margin-bottom: 2rem;
  /* border-radius: 10px; */
  background: #fff;
  padding: 1rem 1rem 4rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.8);
}

.title {
  font-size: 3.6rem;
  color: #FF8E8F;
  color: white;
  text-shadow: 0 0 5px #FF8E8F;
  text-align: center;
  margin-bottom: 2rem;
}


.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.btn {
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 10px;

  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

.btn--yes {
  background-color: #40c057;
  border: 1px solid #349f48;

}
.btn--yes:hover {
  background-color: #349f48;
}
.btn--no {
  background-color: #f03e3e;
  border: 1px solid #d33434;;
}
.btn--no:hover {
  background-color: #d33434;
}

.hidden {
  display: none;
}
